.row {
     display: flex;
     flex-wrap: wrap;
     padding: 0 4px;
     justify-content: center;
    }

/* Create four equal columns that sits next to each other */
.column {
     flex: 25%;
     max-width: 25%;
     padding: 0 4px;
    }

.column img {
     margin-top: 8px;
     vertical-align: middle;
     width: 100%;
    }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
     flex: 50%;
     max-width: 50%;
    }
  }
  h1 {
    font-size: 50px;
    text-align: center;
  }
  #tribute-link {
    color: red;
    font-weight: bold;
    font-size: 17px;
  }
  #img-caption {
    font-size: 30px;
    text-align: center;
  }
  p {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
  }
  .center {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  ul {
    text-align: left;
    margin-left: 18%;
    margin-right: 20%;
  }
